@-webkit-keyframes rotateNav {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: rotate3d(1, 0, -1, 15deg);
            transform: rotate3d(1, 0, -1, 15deg); }
  75% {
    -webkit-transform: rotate3d(1, 0, -1, -15deg);
            transform: rotate3d(1, 0, -1, -15deg); }
  100% {
    -webkit-transform: none;
            transform: none; } }
@keyframes rotateNav {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: rotate3d(1, 0, -1, 15deg);
            transform: rotate3d(1, 0, -1, 15deg); }
  75% {
    -webkit-transform: rotate3d(1, 0, -1, -15deg);
            transform: rotate3d(1, 0, -1, -15deg); }
  100% {
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: none;
            transform: none; }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
body {
  font-family: "Garamond", arial, sans-serif;
  color: black;
  letter-spacing: .5px; }

body {
  color: black;
  background-color: white; }

/* links */
a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
  outline: none; }

a:hover {
  color: #333333; }

a.foo {
  width: 100px;
  height: 100px;
  padding: 5px 10px;
  background: #9c3;
  transition: background .3s ease, color 0.2s linear; }
  a.foo:hover, a.foo:focus {
    color: #030; }

/* block */
.block {
  padding: 20px;
  margin: 5% auto; }
  .block .title {
    padding: 10px; }

footer {
  padding-bottom: 20px; }

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px; }

[ui-view].ng-enter, [ui-view].ng-leave {
  left: 0;
  right: 0;
  transition: all .5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

[ui-view].ng-leave {
  position: absolute;
  opacity: 0; }

[ui-view].ng-leave-active {
  opacity: 0; }

.wrap {
  color: black;
  text-align: center;
  max-width: 90%;
  margin: 0 auto; }

.wrap ul.wrap-nav {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  padding: 150px 100px; }

.wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative; }

.wrap ul.wrap-nav li a {
  color: black;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition-property: all .2s linear 0s; }

.wrap ul.wrap-nav li a:hover {
  color: #1a1a1a; }

.wrap ul.wrap-nav ul {
  padding: 20px 0; }

.wrap ul.wrap-nav ul li {
  display: block;
  font-size: 13px;
  width: 100%;
  color: black; }

.wrap ul.wrap-nav ul li a:hover {
  color: #1a1a1a; }

@media screen and (max-width: 60em) {
  .navbar {
    display: none; }

  .menu {
    left: 10px;
    top: 10px; }

  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757; }

  .wrap ul.wrap-nav {
    padding: 30px 0px 0px; }

  nav ul {
    opacity: 0;
    visibility: hidden; }

  .social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0; }

  .social-icon {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    display: block;
    margin: 5px 0; } }
.navbar {
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 60px 0 0 30px;
  margin: 0px 20px;
  transition: all .5s ease;
  margin-left: 0; }
  .navbar ul {
    display: inline-block;
    padding: 0; }
  .navbar li {
    float: left;
    margin: 0 0 0 5px;
    padding: 5px;
    list-style-type: none;
    border-bottom-color: white; }
    .navbar li a {
      padding: 5px 15px;
      color: black;
      transition: all .5s ease; }
    .navbar li .active, .navbar li a:hover {
      border-bottom: 1px solid black; }

.seperator {
  clear: both; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #eee;
  overflow: auto;
  z-index: 99; }

.menu {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 999; }
  .menu a {
    text-decoration: none; }

.menu-open:after {
  color: black;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 2em;
  transition-property: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s; }

.menu-open:hover:after {
  color: #999999; }

.menu-close:after {
  color: black;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 2em;
  transition-property: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s; }

.menu-close:hover:after {
  color: #999999; }

#contact {
  text-align: center; }
  #contact li {
    display: inline;
    list-style-type: none;
    margin: 0px 10px; }

.subject {
  background-color: #1b403d;
  margin: 10px 0px;
  padding: 5px; }
  .subject .title {
    font-weight: bold; }
  .subject .course {
    padding-left: 10px; }

.social {
  text-align: center; }
  .social ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .social li {
    float: left;
    padding: 0 50px; }
  .social li i {
    font-size: 1.5em; }
    .social li i:hover {
      color: white;
      background-color: black;
      transition-property: all .2s linear 0s; }

/*****************************************************************************/
/*
/* Sites
/*
/*****************************************************************************/
.site {
  padding: 5px;
  margin: 10px 0px; }

li.site {
  list-style-type: none;
  margin-left: -40px; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  background-color: white;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  padding: .2em;
  color: black; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post blockquote {
  border-left: 3px solid black; }

.post pre.terminal code {
  background-color: #333; }

#disqus_thread {
  margin: 0px 10px; }

/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */
.highlight pre, pre, .highlight .hll {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px; }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #800080;
  font-weight: bold; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kn {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #dd1144; }

.highlight .n {
  color: #333333; }

.highlight .na {
  color: teal; }

.highlight .nb {
  color: #0086b3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: teal; }

.highlight .ni {
  color: purple; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: navy; }

.highlight .nv {
  color: teal; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #dd1144; }

.highlight .sc {
  color: #dd1144; }

.highlight .sd {
  color: #dd1144; }

.highlight .s2 {
  color: #dd1144; }

.highlight .se {
  color: #dd1144; }

.highlight .sh {
  color: #dd1144; }

.highlight .si {
  color: #dd1144; }

.highlight .sx {
  color: #dd1144; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #dd1144; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: teal; }

.highlight .vg {
  color: teal; }

.highlight .vi {
  color: teal; }

.highlight .il {
  color: #009999; }

.highlight .gc {
  color: #999;
  background-color: #EAF2F5; }
