<div id="courses" class="block">
  <h2 class="title">Courses</h2>
  <div class="subject">
    <div class="title">Mathematics</div>
    <div class="course">Algebra for Honours Mathematics, Calculus 1 for Honours Mathematics, Calculus 2 for Honours Mathematics</div>
  </div>
  <div class="subject">
    <div class="title">Accounting</div>
    <div class="course">Introduction to Financial Accounting, Introduction to Managerial Accounting</div>
  </div>
  <div class="subject">
    <div class="title">Statistics</div>
    <div class="course">Probability, Statistics</div>
  </div>
  <div class="subject">
    <div class="title">Economics</div>
    <div class="course">Microeconomic Theory 1, Macroeconomic Theory 1, Introduction to International Economics, International Finance, Macroeconomic Theory 2</div>
  </div>
  <div class="subject">
    <div class="title">Combinatorics and Optimization</div>
    <div class="course">Introduction to Combinatorics, Introduction to Optimization, Introduction to Graph Theory, Deterministic OR Models</div>
  </div>
  <div class="subject">
    <div class="title">Computer Science</div>
    <div class="course">Introduction to Computer Science 1, Introduction to Computer Science 2, Elementary Algorithm Design and Data Abstraction, Data Structures and Data Management, Foundations of Sequential Programs, Logic and Computation, Object-Oriented Software Development, Computer Organization and Design</div>
  </div>
</div>

<footer>&copy Jacob Wang, 2015</footer>