<div id="profile" class="block">
    <h2 class="title">About me</h2>
    <h1>Hello, I'm Jake.</h1>
    <p>I'm a 3rd year student at University of Waterloo. I major in Computer Science and also minor both in Mathematical Economics and Combinatorics & Optimization. </p>
    <h2>Techniques:</h2>
    <p>Language skills: C, C++, C#, Python, Scheme</p>
    <p>Version control: git</p>
    <p>Web development: PHP, JavaScript, jQuery</p>
    <p>Frameworkds: AngularJS, Django</p>
    <h2>My interest:</h2>
    <p>At the moment, I am exploring all the fun in front-end development, but I am also picking up different skills to become a more full-stack developer. I am very interested in interactive data visualization. I've been playing around with d3.js to create some interesting graphs. I am actively looking for projects to get involved in. So please contact me. I will be thrilled to hear from you. <br/>
    Also, I am looking for co-op/internship for the coming fall, Semptember to December. <br/>
    My contact email: x445wang at uwaterloo dot com </p>
    
</div>

<footer>&copy Elkan Wang, 2015</footer>