$font: Helvetica, sans-serif;

$font-color: #222;

$success-color: #b7c11e;
$warning-color: #23a38f;
$error-color: #f0563d;

$shadow-color: rgba(0, 0, 0, .2);

$font-header-weight : 800;
$font-alert-weight: 800;

// $background-color: #B3B1A0;
$background-color: #000;

$navigation-background: #1f4b47;
$navigation-color: white;

$block-background: #1f4b47;



