$font: "Garamond", arial, sans-serif; 

$font-color: black;

$shadow-color: rgba(0, 0, 0, .2);

$font-header-weight : 800;

$background-color: white;

$post-color: #eee;
$navigation-background: #1f4b47;
$navigation-color: $font-color;
$menu-color: $font-color;

$block-background: #1f4b47;



