body{
	color: $font-color;
	background-color: lighten($background-color,20);
	padding: 50px;
    min-width: 800px;
}

/* links */

a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: $font-color;
	outline: none;
}
a:hover {
	color: lighten($font-color, 20);
}

a.foo {
	width: 100px;
	height: 100px;
	padding: 5px 10px;
	background: #9c3;
	transition: background .3s ease, color 0.2s linear;

	&:hover,
	&:focus {
		color: #030;
	}

}

/* block */
.block {
	background-color: $block-background;
	padding: 20px;
	margin: 5% auto;

	.title {
		background-color: darken($block-background,5);
		padding: 10px;
	}
}


footer {
	padding-bottom: 20px;
}
