.social {
    text-align: center;
    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        padding: 0 50px;
    }
    li i {
        font-size: 1.5em;
        &:hover {
            color: white;
            background-color: $font-color;
           	transition-property:all .2s linear 0s;
        }
    }
}
