.navbar {
	font-size: 150%;
	text-transform: uppercase;
  	letter-spacing: 2px;
	float: right;
	padding: 42px 0 0 30px;
	margin: 0px 20px;
	transition: all .5s ease;

	li {
		float: left;
		margin: 0 0 0 5px;
		padding: 5px;
		list-style-type: none;
		border-bottom-color: white;

		a {
			padding: 5px 15px;
			color: $navigation-color;
			transition: all .5s ease;
		}

		.active, a:hover{
			background-color:$navigation-background;
		}

	}
}


// logos

#contact {
    text-align: center;

	li {
		margin: auto 10px;
        display: inline;
		list-style-type: none;
		transition:all .5s ease;
        margin: 0px 10px;
	}
}
