.wrap {
	color:$font-color;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	border-bottom:1px solid $font-color;
	text-transform:uppercase;
	padding:150px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:$font-color;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:lighten($font-color,10);
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:$font-color;
}
.wrap ul.wrap-nav li a {
    letter-spacing:3px;
}
.wrap ul.wrap-nav ul li a:hover {
	color:lighten($font-color, 10);
}

@media screen and (max-width:60em) {
    .navbar {
        display: none;
    }
    .menu {
        left: 10px;
        top: 10px;
    }
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
        li a {
            letter-spacing:3px;
        }
	}

	nav ul {
		opacity:0;
		visibility:hidden;
	}
	.social {
		color:#c1c1c1;
		font-size:25px;
		padding:15px 0;
	}
	.social-icon {
		width:100%;
		height:50px;
		background:#fff;
		color:#333;
		display:block;
		margin:5px 0;
	}
}

.navbar {
	font-size: 150%;
	text-transform: uppercase;
  	letter-spacing: 3px;
    text-align: center;
	padding: 60px 0 0 30px;
	margin: 0px 20px;
	transition: all .5s ease;
    margin-left: 0;
    ul  {
        display: inline-block;
        padding: 0;
    }
	li {
		float: left;
		margin: 0 0 0 5px;
		padding: 5px;
		list-style-type: none;
		border-bottom-color: white;

		a {
			padding: 5px 15px;
			color: $navigation-color;
			transition: all .5s ease;
		}

		.active, a:hover{
            border-bottom: 1px solid $navigation-color;
		}

	}
}

.seperator {
    clear: both;
}

.overlay {
	position:fixed;
	top:0;
    left:0; 
	height:100%;
	width:100%;
	background:#eee;
	overflow:auto;
	z-index:99;
}

.menu{
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 999;
    a {
        text-decoration: none;
    }
}

.menu-open:after {
	color:$menu-color;
	content:"\f0c9";
	font-family:"FontAwesome";
    font-size: 2em;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.menu-open:hover:after {
	color:lighten($menu-color, 60);
}
.menu-close:after {
	color:$menu-color;
	content:"\f00d";
	font-family:"FontAwesome";
    font-size:2em;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.menu-close:hover:after {
	color: lighten($menu-color, 60);
}
#contact {
    text-align: center;

	li {
        display: inline;
		list-style-type: none;
        margin: 0px 10px;
	}
}
