
/*****************************************************************************/
/*
/* Sites
/*
/*****************************************************************************/

.blog_post{

  text-align: center;
  padding: 10px;
  margin: 20px 0px;
  clear: both;
  list-style-type: none;

  #date {
    min-width: 150px;
    border: black 1px solid;
    float: left;
    margin-right: 20px;
    padding: 5px;
  }

  #title {
    padding: 5px;
  }
}

.posts{
  list-style-type: none;
  margin: 0 22.5%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  padding: 8em;
}

.title{
  text-transform: uppercase;
  letter-space: .1em;
    margin: 2em auto;
    padding:0;
    width:70%;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid $font-color;
    margin-bottom: 3em;
}


#disqus_thread{
    margin: 2em 0em;
}
