
/*****************************************************************************/
/*
/* Sites
/*
/*****************************************************************************/

.site {
  padding: 5px;
  margin: 10px 0px;
}

li.site {
  list-style-type: none;
  margin-left: -40px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  background-color:lighten($background-color,25);
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  padding: .2em;
  color: black;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post blockquote {
  border-left: 3px solid black;
}

.post pre.terminal code {
  background-color: #333;
}
